*.o
configure.rip*
rip
ripcomp
ripcut
ripdp
ripdp_mm5
ripdp_mpas
ripdp_wrf
ripdp_wrfarw
ripdp_wrfnmm
ripinterp
ripshow
showtraj
src/rip
src/ripcomp
src/ripcut
src/ripdp_mm5
src/ripdp_mpas
src/ripdp_wrfarw
src/ripdp_wrfnmm
src/ripinterp
src/ripshow
src/showtraj
src/tabdiag
src/upscale
tabdiag
upscale
